name: Python CI Testing

on: [push, pull_request]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Set up tkinter (ubuntu only)
        if: runner.os == 'Linux'
        run: sudo apt-get update
             sudo apt-get install -y python3-tk

      - name: Install dependencies
        run: pip install --upgrade -r requirements.txt

      - name: Run all tests
        working-directory: src
        run: |
          for i in Tests/*.py; do
            python "$i"
          done

